<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>FileShare</title>

  <link rel="stylesheet" href="/stylesheets/reset.css">

  <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="/stylesheets/stylenidhi.css">

</head>

<body>

  <div class='info'>
  <h1>Login Form</h1>
</div>
<div class='form aniamted bounceIn'>
 
  <div class='login'>
    <h2>Login To Your Account</h2>
        <% if(typeof errorMessage !== 'undefined') { %>
         	<h2><%= errorMessage %></h2>
        	 <% } %>
    <form action="/main" method="post">
      <input placeholder='Username' type='text' name="username" id="username" />
      <input placeholder='Password' type='password' name="pwd" name="pwd"/>
      <input type="submit" value="Submit">
    </form>
  </div>

  <footer>
    <a href='index'>New User</a>
  </footer>
</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/stylesheets/index.js"></script>

</body>

</html>